<html>
    <head>
        <title>Result</title>
    </head>
    <body>
{% extends "layout.html" %}
{% block body %}        
  <div class="container">
      <h1>Buying</h1>
      <p>{{ company }}</p>
      <p>for {{ price }}</p>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Give amount" name="amount" value="{{request.form.amount}}">
        <input class="btn btn-default" type="submit" name=submit_button value="Buy">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong>strong {{ error }}
      {% endif %}
      <br>
    </div>
</body>
</html>

{% endblock %}
