{% extends "layout.html" %}
{% block body %}
<html>
    <head>
        <title>Game over</title>
    </head>
    <body>
        <div class="container">
          <h1>My transactions</h1>
          <br>
          <form action="" method="post">            
            <input class="btn btn-default" type="submit" value="End game and show my transactions">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
          </form>
          {% if error %}
          <p class="error"><strong>Error:</strong> {{ error }}
          {% endif %}
          <u1>
          <p>
          <strong>{{ portfolio }}</strong>
          <p>
          {% for transaction in transactions %}
          <li> {{ transaction.company }}     BOUGHT:  {{ transaction.buy_price }}   BANKING FEE: {{ transaction.banking }}   SOLD: {{ transaction.sell_price }} </li>
          {% endfor %}
          </u1>
          <br>
          <br>
          <p>Current value {{ portfolio }}  {{ endvalue }} euros. Balance between investment and value  {{ portfolio_balance }}. </p>
          <p>Bought {{ bought }}, sold stocks {{ sold }}.</p>
          <p>Sales balance  {{ sales_balance }} acquired dividends {{ dividends }}.</p>
          <p>Banking fees for {{ banking }} taxes {{ taxes }}.</p>
          <p>Net result {{ result }}</p>
          <p>Endgame - portfolio balance and net result: {{ final }}</p>
          <p>Difference from just keeping your money on a savings account for two years {{ percent }} %</p>
          <br>
          <li><a href="/create_portfolio">Create new portfolio</a></li>
          <p>See gallery or logout</p>
          <li><a href="/">Return to start page</a></li>

          
        </div>
    </body>
</html>
{% endblock %}