{% extends "layout.html" %}
{% block body %}
<html>
  <head>
   <title>Give date</title>
    </head>
  <body>
    <div class="container">
      <h1>Give date</h1>
      <p>From 02.01.2020 to 30.12.2021</p>
      <p>If the result has empty columns, try a different date. Some dates are missing in Nasdaq data.</p>
      <br>
      <form action="/choose_stock" method="post">
        <input type="text" placeholder="dd.mm.yyyy" name="date" value="{{
          request.form.date }}">
        <p>
        <input class="btn btn-default" type="submit" value="Enter date">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
      <p>
      <li><a href="/game_over">End game and see results</a></li>
      <p>
      <li><a href="/">Return to start page</a></li>
    </div>
  </body>
</html>
{% endblock %}