<html>
    <head>
        <title>Portfolio</title>
    </head>
    <body>
        <div class="container">
          <h1>Portfolio</h1>
          <b>My portfolio</b>
          <br>
          <br>
          <form action="" method="post">
            
            <input class="btn btn-default" type="submit" value="Show my portfolio">
          </form>
          {% if error %}
          <p class="error"><strong>Error:</strong> {{ error }}
          {% endif %}

          <u1>
          {{ portfolio }}
          <br>
          <br>
          {% for stock in stocks %}
          <li> {{ stock.company }}     BOUGHT:  {{ stock.buy_date }}   AMOUNT: {{ stock.amount }}   PRICE: {{ stock.buy_price }} </li>
          {% endfor %}
          </u1>
          <br>
          <br>
          <p>Today's date is {{ today }}</p>
          <br>
          <li><a href="/give_date">Go to stockmarket</a></li>
          <br>
          <br>
          <p>Don't have one?</p>
          <br>
          <li><a href="/create_portfolio">Create portfolio</a></li>
          
        </div>
    </body>
</html>