html {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

body {
    margin: 0 0 0 3em;    
    background-color: lightgoldenrodyellow;
    max-width: 45em
    padding: 0 30px 10px 10px;
    border: 100px burlywood;    
}

form {
    background: lightblue;
    border-radius: 25px;
    padding: 2em 1em 3em;
    width: 15em  
}

h1 {
    font-size: 20px;
    
}

img {
    display: block;
    margin: 0 auto;
    width: 75%;
}


button button-default {
    color: brown;
}

aside {
    float: right;
    margin: 0 15em 0 5em;
    width: 30%
}